<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ServerCommands" type="Shared.CommandConfigSection, ServerLib"/>
    <section name="PerformanceCounters" type="Shared.PerfConfig, ServerLib"/>
    <section name="membase" type="Membase.Configuration.MembaseClientSection, Membase"/>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>
  <log4net debug="false">
   
    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="100"/>
      <appender-ref ref="ConsoleAppender"/>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Wisp"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="wisplog.txt"/>
      <countDirection value="1"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="to@domain.com"/>
      <from value="from@domain.com"/>
      <subject value="test logging message"/>
      <smtpHost value="SMTPServer.domain.com"/>
      <bufferSize value="512"/>
      <lossy value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <localPort value="8080"/>
      <remoteAddress value="224.0.0.1"/>
      <remotePort value="8080"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="MemoryAppender" type="Shared.LimitedMemoryLogAppender">
      <MaxLogEntriesToKeep value="250"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="MemoryAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <!--This is the connection string for the Lobby Session data-->
    <add name="SessionDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Session;"/>
    <!--This is the connection string for the USER data-->
    <add name="AccountDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=WispUsers;"/>
    <!--This is the connection string for the GAME data-->
    <add name="GameDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Game;"/>
    <!--This is the connection string for the Session data-->
    <add name="LobbyDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Session;"/>
  </connectionStrings>
  <system.web>

    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AccountDataConnectionString" applicationName="Shards"/>
      </providers>
    </roleManager>

    <membership defaultProvider="CustomizedMembershipProvider">
      <providers>
        <add name="CustomizedMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AccountDataConnectionString" applicationName="Shards" minRequiredPasswordLength="5" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="2147483647" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>

    <profile defaultProvider="ConfiguredProfileProvider">
      <providers>
        <clear/>
        <add connectionStringName="AccountDataConnectionString" applicationName="/Wisp" description="" name="AspNetSqlProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

        <add name="ConfiguredProfileProvider" type="Shared.SqlTableProfileProvider, ServerLib" connectionStringName="AccountDataConnectionString" table="aspnet_CustomProfile" applicationName="/Wisp"/>

      </providers>
      <!-- default AspNetSqlProvider properties format
      <properties>
        <add name="MaxCharacters" type="Int32" />
      </properties>
     -->
      <!-- http://murrayon.net/2009/02/aspnet-providers-profile.html -->
      <properties>
        <add name="LoginHistoryIP" type="string" defaultValue="[null]" customProviderData="LoginHistoryIP;nvarchar"/>
        <add name="LoginHistoryTime" type="string" defaultValue="[null]" customProviderData="LoginHistoryTime;nvarchar"/>
        <add name="LogoffHistoryTime" type="string" defaultValue="[null]" customProviderData="LogoffHistoryTime;nvarchar"/>
        <add name="MaxCharacters" type="int" defaultValue="1" customProviderData="MaxCharacters;int"/>
        <add name="Suspension release" type="DateTime" defaultValue="[null]" customProviderData="SuspensionRelease;datetime"/>
        <add name="Total time on Account" type="long" defaultValue="[null]" customProviderData="TotalTimeOnAccount;bigint"/>
      </properties>
    </profile>

  </system.web>
  <!--
      Memcached support settings
  -->
  <membase>
    <servers>
      <add uri="http://avalon:8091/pools/default"/>
      <add uri="http://serverus-iii:8091/pools/default"/>
    </servers>
    <transcoder type="ServerLib.WispMemCacheTranscoder, ServerLib"/>
  </membase>
  <enyim.com>
    <!-- make sure you use the same ordering of nodes in every configuration you have -->
    <!-- See complete config at https://github.com/enyim/EnyimMemcached/wiki/MembaseClient-Configuration -->
    <memcached protocol="Binary">
      <servers>
        <add address="avalon" port="11211"/>
        <add address="serverus-iii" port="11211"/>
      </servers>
      <transcoder type="ServerLib.WispMemCacheTranscoder, ServerLib"/>
    </memcached>
  </enyim.com>
  <ServerCommands>
    <Commands>
      <add CommandName="RestartServer" CommandGroup="Server" AllowedRoles="Administrator2" Assembly="ZeusAccountService.exe" ClassName="Shared.CommandRestartMachine" MethodName="Restart" ParmNames="" UsageHelp="Usage: Restart the server process."/>
      <add CommandName="_UpdateStringProperty" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="UpdateCharacterStringProperty" ParmNames="Character ID|Property ID|New value" UsageHelp="Update a property on the character with a string."/>
      <add CommandName="_UpdateFloatProperty" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="UpdateCharacterFloatProperty" ParmNames="Character ID|Property ID|New value" UsageHelp="Update a property on the character with a float."/>
      <add CommandName="_UpdateInt32Property" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="UpdateCharacterIntProperty" ParmNames="Character ID|Property ID|New value" UsageHelp="Update a property on the character with a 32 bity integer."/>
      <add CommandName="_UpdateInt64Property" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="UpdateCharacterLongProperty" ParmNames="Character ID|Property ID|New value" UsageHelp="Update a property on the character with a 64 bit integer."/>
      <add CommandName="_UpdateCharacterStat" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="UpdateCharacterStat" ParmNames="Character ID|Stat ID|Min Value|Max Value|Current Value" UsageHelp="Update a Stat on the character with new minimum, maximum and current values."/>
      <add CommandName="Add String Property" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="InsertCharacterStringProperty" ParmNames="Character ID|Property ID|Property name|New value" UsageHelp="Add a new String property to the character."/>
      <add CommandName="Add Int32 Property" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="InsertCharacterIntProperty" ParmNames="Character ID|Property ID|Property name|New value" UsageHelp="Add a new 32-bit Integer property to the character."/>
      <add CommandName="Add Int64 Property" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="InsertCharacterLongProperty" ParmNames="Character ID|Property ID|Property name|New value" UsageHelp="Add a new 64-bit Integer property to the character."/>
      <add CommandName="Add Float Property" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="InsertCharacterFloatProperty" ParmNames="Character ID|Property ID|Property name|New value" UsageHelp="Add a new single precision Floating Point number property to the character."/>
      <add CommandName="Add New Stat" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="InsertCharacterStat" ParmNames="Character ID|Stat ID|Min value|Max Value|Starting Value" UsageHelp="Add a new Stat variable to the character."/>
      <add CommandName="_DeleteStringProperty" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="DeleteCharacterStringProperty" ParmNames="Character ID|Property ID" UsageHelp="Delete a string property."/>
      <add CommandName="_DeleteLongProperty" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="DeleteCharacterLongProperty" ParmNames="Character ID|Property ID" UsageHelp="Delete a long property."/>
      <add CommandName="_DeleteIntProperty" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="DeleteCharacterIntProperty" ParmNames="Character ID|Property ID" UsageHelp="Delete an int property."/>
      <add CommandName="_DeleteFloatProperty" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="DeleteCharacterFloatProperty" ParmNames="Character ID|Property ID" UsageHelp="Delete a float property."/>
      <add CommandName="_DeleteCharacterStat" CommandGroup="Character" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="DeleteCharacterStat" ParmNames="Character ID|Stat ID" UsageHelp="Delete a character stat."/>
      <add CommandName="Suspend Account" CommandGroup="User" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="SuspendAccount" ParmNames="UserId|Suspension Duration (Hours)|Note|Character Id (if any)" UsageHelp="Suspend this account's access for some number of hours."/>
      <add CommandName="Unsuspend Account" CommandGroup="User" AllowedRoles="ActiveCustomerService" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="UnsuspendAccount" ParmNames="UserId|Note|Character Id (if any)" UsageHelp="Unsuspend this account immediately. Fails if account isn't currently suspended."/>
      <add CommandName="Add Role" CommandGroup="User" AllowedRoles="Administrator" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="AddRole" ParmNames="UserId|RoleToAdd" UsageHelp="Add a role to the account."/>
      <add CommandName="Remove Role" CommandGroup="User" AllowedRoles="Administrator" Assembly="ZeusAccountService.exe" ClassName="Shared.UserMgtCommands" MethodName="RemoveRole" ParmNames="UserId|RoleToAdd" UsageHelp="Remove a role from the account."/>
      <add CommandName="Convert ticks to time" CommandGroup="Server" AllowedRoles="Administrator2" Assembly="ZeusAccountService.exe" ClassName="Shared.UtilityCommands" MethodName="ConvertTicksToTimespan" ParmNames="Ticks" UsageHelp="Usage: converts a number of ticks to a time span."/>
    </Commands>
  </ServerCommands>
  <PerformanceCounters>
    <Counters>
      <add CounterName="% Processor Time" CounterGroup="Processor" InstanceName="AllCores" MaxSamplesInHistory="120" SampleIntervalSecs="2" IsCustom="False" Help="Machine CPU Usage %"/>
      <add CounterName="% Processor Time" CounterGroup="Process" InstanceName="ProcessName" MaxSamplesInHistory="120" SampleIntervalSecs="2" IsCustom="False" Help="Server CPU % Usage"/>
      <add CounterName="Thread Count" CounterGroup="Process" InstanceName="ProcessName" MaxSamplesInHistory="120" SampleIntervalSecs="3" IsCustom="False" Help="Server Thread Count"/>
      <add CounterName="Private Bytes" CounterGroup="Process" InstanceName="ProcessName" MaxSamplesInHistory="120" SampleIntervalSecs="5" IsCustom="False" Help="Server Total Memory Used (MB)" Divisor="1048576"/>
      <add CounterName="# Bytes in all Heaps" CounterGroup=".NET CLR Memory" InstanceName="ProcessName" MaxSamplesInHistory="120" SampleIntervalSecs="5" IsCustom="False" Help="Server Managed Memory Used (MB)" Divisor="1048576"/>
      <add CounterName="Available MBytes" CounterGroup="Memory" InstanceName="" MaxSamplesInHistory="120" SampleIntervalSecs="5" IsCustom="False" Help="Machine Memory Available (MB)"/>
      <add CounterName="Contention Rate / sec" CounterGroup=".NET CLR LocksAndThreads" InstanceName="ProcessName" MaxSamplesInHistory="120" SampleIntervalSecs="3" IsCustom="False" Help="Server Thread Sync Contentions / sec"/>
      <add PerformanceCounterType="RateOfCountsPerSecond32" CounterName="Packets Out" InstanceName="" MaxSamplesInHistory="120" SampleIntervalSecs="3" IsCustom="True" Help="Packet sent / sec"/>
      <add PerformanceCounterType="RateOfCountsPerSecond32" CounterName="Packets In" InstanceName="" MaxSamplesInHistory="120" SampleIntervalSecs="3" IsCustom="True" Help="Packets received / sec"/>
      <add PerformanceCounterType="NumberOfItems32" CounterName="Live Connections" InstanceName="" MaxSamplesInHistory="120" SampleIntervalSecs="5" IsCustom="True" Help="# of sockets connected"/>
      <add PerformanceCounterType="RateOfCountsPerSecond32" CounterName="Bandwidth Out" InstanceName="" MaxSamplesInHistory="120" SampleIntervalSecs="3" IsCustom="True" Help="KB Sent / sec" Divisor="1024"/>
      <add PerformanceCounterType="RateOfCountsPerSecond32" CounterName="Bandwidth In" InstanceName="" MaxSamplesInHistory="120" SampleIntervalSecs="3" IsCustom="True" Help="KB Received / sec" Divisor="1024"/>
    </Counters>
  </PerformanceCounters>
  <appSettings>
    <add key="OutboundServerUpdateInterval" value="20"/>
    <add key="ListenOnPort" value="4535"/>
    <add key="BlockingMode" value="FALSE"/>
    <add key="ServerUserID" value="AVALON_Zeus"/>
    <add key="ServerName" value="AVALON"/>
    <add key="SharedKeyWithClusterServers" value="F0C332C9-B20B-4b14-AF35-C8C329F81910"/>
    <add key="RunSilverlightPolicyServer" value="TRUE"/>
    <add key="PlayerAuthticketExpirationCheckIntervalSecs" value="5"/>
    <add key="PlayerAuthticketExpirationSecs" value="1800"/>
    <add key="PlayerConnectionTimeout" value="1800"/>
    <add key="ConnectionLimit" value="100"/>
    <add key="NetworkBufferSize" value="2048"/>
    <add key="AllowNewAccountsOnTheFly" value="TRUE"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PlayerAuthenticationType" value="Database"/>
    <add key="SupressStatLoad" value="TRUE"/>
    <add key="SupressCharacterLoad" value="TRUE"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
