<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ServerCommands" type="Shared.CommandConfigSection, ServerLib"/>
    <section name="PerformanceCounters" type="Shared.PerfConfig, ServerLib"/>
  </configSections>

  <log4net debug="false">
 
    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="100"/>
      <appender-ref ref="ConsoleAppender"/>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Wisp"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="wisplog.txt"/>
      <countDirection value="1"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="to@domain.com"/>
      <from value="from@domain.com"/>
      <subject value="test logging message"/>
      <smtpHost value="SMTPServer.domain.com"/>
      <bufferSize value="512"/>
      <lossy value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
      </layout>
    </appender>

    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <localPort value="8080"/>
      <remoteAddress value="224.0.0.1"/>
      <remotePort value="8080"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="MemoryAppender" type="Shared.LimitedMemoryLogAppender">
      <MaxLogEntriesToKeep value="250"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <priority value="ALL"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="MemoryAppender"/>
    </root>

  </log4net>

  <connectionStrings/>
  <system.web/>
  <ServerCommands>
    <Commands/>
  </ServerCommands>
  <PerformanceCounters>
    <Counters/>      
  </PerformanceCounters>
  
  
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <!--These two settings are only relevant if patch server is plugged into a WISP hive.  Largely irrelevant for standalone patch servers.-->
    <add key="ServerUserID" value="Patchy"/>
    <add key="ServerName" value="Patch Server"/>

    <!--The port on which the patch server listens.  Make sure to open your firewall to open this port.-->
    <add key="ListenOnPort" value="4534"/>

    <!--Number of seconds before an unresponsive client gets booted from the server-->
    <add key="PlayerConnectionTimeout" value="60"/>
    
    <!--Maximum simultaneous client connections allowed on server. This affects how much memory the server reserves for networking.-->
    <add key="ConnectionLimit" value="100"/>
    
    <!--Maximum clients that can be accepted simultaneously.  Clients are only in the "being accepted" state for a fraction of a second.  Leave this number reasonably low.-->
    <add key="MaxSimultaneousNetworkAcceptOps" value="10"/>
    
    <!--Network send/receive buffer size.  This affects how much memory the server reserves for networking.-->
    <add key="NetworkBufferSize" value="2048"/>    
    
    <!--Required for function in standalone mode-->
    <add key="SupressStatLoad" value="TRUE"/>

    <!--Required for function in standalone mode-->
    <add key="SupressCharacterLoad" value="TRUE"/>

    <!--The patch server does not require a client to login with an account.  Leave this setting as FALSE for the patch server.-->
    <add key="RequireAuth" value="FALSE"/>

    <!--The patch server does not connect to any databases.-->
    <add key="DatabaseConnectivity" value="FALSE"/>

    <!--Should the patch client send information about the client machine's GPU.  Captured in server logs in 'UserMetrics' channel-->
    <add key="ReportClientGPU" value="TRUE"/>

    <!--Should the patch client send information about the client machine's CPU.  Captured in server logs in 'UserMetrics' channel-->
    <add key="ReportClientCPU" value="TRUE"/>

    <!--Should the patch client send information about the client machine's Disk drives.  Captured in server logs in 'UserMetrics' channel-->
    <add key="ReportClientDrives" value="TRUE"/>

    <!--Should the patch client send information about the client machine's Motherboard.  Captured in server logs in 'UserMetrics' channel-->
    <add key="ReportClientMainBoard" value="TRUE"/>

    <!--Should the patch client send information about the client machine's Operating Systm.  Captured in server logs in 'UserMetrics' channel-->
    <add key="ReportClientOS" value="TRUE"/>

    <!--Should the patch client send information about the client machine's physical RAM.  Captured in server logs in 'UserMetrics' channel-->
    <add key="ReportClientRAM" value="TRUE"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
