<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ServerCommands" type="Shared.CommandConfigSection, ServerLib"/>
    <section name="PerformanceCounters" type="Shared.PerfConfig, ServerLib"/>
    <section name="OutgoingConnections" type="Shared.ConnectionConfigSection, ServerLib"/>
    <section name="membase" type="Membase.Configuration.MembaseClientSection, Membase"/>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>
  <log4net debug="false">
  
    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="100"/>
      <appender-ref ref="ConsoleAppender"/>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Wisp"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="wisplog.txt"/>
      <countDirection value="1"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="to@domain.com"/>
      <from value="from@domain.com"/>
      <subject value="test logging message"/>
      <smtpHost value="SMTPServer.domain.com"/>
      <bufferSize value="512"/>
      <lossy value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%utcdate [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <localPort value="8080"/>
      <remoteAddress value="224.0.0.1"/>
      <remotePort value="8080"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="MemoryAppender" type="Shared.LimitedMemoryLogAppender">
      <MaxLogEntriesToKeep value="250"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="MemoryAppender"/>
    </root>
  </log4net>
  
  <connectionStrings>
    <!--This is the connection string for the Lobby Session data-->
    <add name="SessionDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Session;"/>
    <!--This is the connection string for the USER data-->
    <add name="AccountDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=WispUsers;"/>
    <!--This is the connection string for the GAME data-->
    <add name="GameDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Game;"/>
    <!--This is the connection string for the Session data-->
    <add name="LobbyDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Session;"/>
  </connectionStrings>

    <OutgoingConnections UpdateIntervalSecs="300">
    <ServerGroups>
      <Group ID="Iniquity" ConnectMode="all" SharedHiveKey="F0C332C9-B20B-4b14-AF35-C8C329F81910">
        <Servers>
          <Server ConnectionName="AVALON" Address="localhost" Port="4507" ServiceID="777"/>
        </Servers>
      </Group>
    </ServerGroups>
  </OutgoingConnections>

  <system.web>
    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AccountDataConnectionString" applicationName="/wisp"/>
      </providers>
    </roleManager>

    <membership defaultProvider="CustomizedMembershipProvider">
      <providers>
        <add name="CustomizedMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AccountDataConnectionString" applicationName="/wisp" minRequiredPasswordLength="5" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="2147483647" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>

    <profile defaultProvider="ConfiguredProfileProvider">
      <providers>
        <clear/>
        <add connectionStringName="AccountDataConnectionString" applicationName="/Wisp" description="" name="AspNetSqlProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

        <add name="ConfiguredProfileProvider" type="Shared.SqlTableProfileProvider, ServerLib" connectionStringName="AccountDataConnectionString" table="aspnet_CustomProfile" applicationName="/Wisp"/>
      </providers>
        <!-- default AspNetSqlProvider properties FORMAT:
      <properties>
        <add name="MaxCharacters" type="Int32" />
      </properties>
     -->
      <!-- http://murrayon.net/2009/02/aspnet-providers-profile.html -->
      <properties>
        <add name="LoginHistoryIP" type="string" defaultValue="[null]" customProviderData="LoginHistoryIP;nvarchar"/>
        <add name="LoginHistoryTime" type="string" defaultValue="[null]" customProviderData="LoginHistoryTime;nvarchar"/>
        <add name="LogoffHistoryTime" type="string" defaultValue="[null]" customProviderData="LogoffHistoryTime;nvarchar"/>
        <add name="MaxCharacters" type="int" defaultValue="1" customProviderData="MaxCharacters;int"/>
        <add name="SuspensionRelease" type="DateTime" defaultValue="[null]" customProviderData="SuspensionRelease;datetime"/>
        <add name="TotalTimeOnAccount" type="long" defaultValue="[null]" customProviderData="TotalTimeOnAccount;bigint"/>
       <!-- Begin Black Vars-->
      
        <add name="Alias"
             type="string"
             defaultValue="[null]"
             customProviderData="Alias;nvarchar" />
        <add name="ProfilePic"
             type="System.Byte[]"
             defaultValue="[null]"
             customProviderData="ProfilePic;varbinary" />
        <add name="ConnectionStatus"
             type="byte"
             defaultValue="0"
             customProviderData="ConnectionStatus;tinyint" />
      
      <!-- End Black Vars-->
      </properties>
    </profile>
  </system.web>
  <!--
      Memcached support settings
  -->
  <membase>
    <servers>
      <add uri="http://avalon:8091/pools/default"/>
      <add uri="http://serverus-iii:8091/pools/default"/>
    </servers>
    <transcoder type="ServerLib.WispMemCacheTranscoder, ServerLib"/>
  </membase>
  <enyim.com>
    <!-- make sure you use the same ordering of nodes in every configuration you have -->
    <!-- See complete config at https://github.com/enyim/EnyimMemcached/wiki/MembaseClient-Configuration -->
    <memcached protocol="Binary">
      <servers>
        <add address="avalon" port="11211"/>
        <add address="serverus-iii" port="11211"/>
      </servers>
      <transcoder type="ServerLib.WispMemCacheTranscoder, ServerLib"/>
    </memcached>
  </enyim.com>
  <appSettings>
    <!-- Number of seconds between game server "heartbeat" pings -->
    <add key="ListenOnPort" value="4506"/>
    <!--Silverlight applications can only connect to ports 4502-4534 -->
    <add key="BlockingMode" value="false"/>
    <add key="ServerUserID" value="LoginServer-Test"/>
    <!--When loggin in to child servers, we send this name, along with the SharedKey, to the target server-->
    <add key="SharedKeyWithClusterServers" value="F0C332C9-B20B-4b14-AF35-C8C329F81910"/>
    <add key="RunSilverlightPolicyServer" value="TRUE"/>
    <add key="PlayerAuthticketExpirationSecs" value="600"/>
    <add key="PlayerAuthticketExpirationCheckIntervalSecs" value="5"/>
    <add key="PlayerConnectionTimeout" value="120"/>
    <add key="ServerName" value="Cerberus"/>
    <add key="ConnectionLimit" value="1000"/>
    <add key="UseCharacters" value="TRUE"/>
    <add key="NetworkBufferSize" value="2048"/>
    <add key="MinimumCharactersAllowed" value="1"/>
    <add key="AllowNewAccountsOnTheFly" value="TRUE"/>
    <add key="ProcessPacketsImmediately" value="true"/>
    <add key="RequireAuthentication" value="true"/>
    <add key="UseIPv6" value="false"/>
    <add key="RunUnityWebPolicyServer" value="true"/>
    <add key="StartingCharacterSlots" value="1"/>

    

  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
