<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--This is the connection string for the Lobby Session data-->
    <add name="SessionDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Session;"/>
    <!--This is the connection string for the USER data-->
    <add name="AccountDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=WispUsers;"/>
    <!--This is the connection string for the GAME data-->
    <add name="GameDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Game;"/>
    <!--This is the connection string for the Session data-->
    <add name="LobbyDataConnectionString" connectionString="Data Source=SQLSERVERADDRESS;User Id=USERID;Password=PASSWORD;Initial Catalog=Session;"/>
  </connectionStrings>
  <appSettings>
   
    <add key="ServerName" value="Iniquity-Sub1-TB"/>
    <add key="ServerUserID" value="IniquityGS1Turns"/>
    <add key="ListenOnPort" value="4504"/> <!-- Silverlight applications can only connect to ports 4502-4534 -->
    <add key="PlayerConnectionTimeout" value="500"/>
    <add key="PlayerAuthticketExpirationSecs" value="600"/>
    <add key="PlayerAuthticketExpirationCheckIntervalSecs" value="5"/>
    <add key="SharedKeyWithClusterServers" value="F0C332C9-B20B-4b14-AF35-C8C329F81910"/>
    <add key="NetworkBufferSize" value="4096"/>
    <add key="ConnectionLimit" value="1000"/>    
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
